blib/
_build/
.build/
Build
Build.bat
cover_db/
inc/
.last_cover_stats
.lwpcookies
App-Qmail-DMARC-*
App-Qmail-DMARC-*.tar.gz
Makefile
Makefile.old
MANIFEST.bak
META.*
MYMETA.*
nytprof.out
pm_to_blib
pod2htm*.tmp
